{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h2 align="center">Add a feed</h2>
        <form method="post">
            <fieldset>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="rssname">RSS Name</label>
                    <input class="form-control form-control-sm" name="rssname" id="rssname" placeholder="RSS Name">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="url">RSS URL</label>
                    <input class="form-control form-control-sm" name="rssurl" id="rssurl" placeholder="URL">
                </div>
                    <button type="submit" class="btn btn-primary">Add</button> 
                </div>
            </fieldset>
        </form>
    </div>
    <h2 align="center"> RSS Feeds </h2>
    <div class="jumbotron">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Last Update</th>
                    <th scope='col'></th>
                </tr>
            </thead>
            {% for feed in feeds %}
            <tbody>
                <tr>
                    <td><a href="{{ feed.rssurl }}">{{ feed.rssname }}</a></td>
                    {% if feed.rssdate == '' %}
                        <td>NA</td>
                    {% else %}
                        <td>{{ feed.rssdate }}</td>
                    {% endif %}
                    <td scope="col">
                        <form action="{{ url_for('feed.delete', rssname=feed.rssname) }}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table> 
    </div>
{% endblock %}